.App {
  text-align: center;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: Oxygen, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.largeText {
  font-family: Rowdies, sans-serif;
  font-size: 1.1em;
}

.main-flex-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 100%;
  background-color: #2e3046;
}

.week-flex-container {
  flex-grow: 4;
  flex-basis: auto;
  display: flex;
  flex-direction: row;
}

.day-flex-container {
  flex-basis: auto;
  flex-grow: 1;
  border: 2px solid black;
  border-radius: 8px;
  margin: 3px;
}

.sidebar-flex-container {
  flex-grow: 1;
  flex-basis: 5%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.menu-flex-container {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100px;
  background-color: #3d6767;
  border-radius: 8px;
  margin: 5px;
  padding: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-flex-item {
  flex-grow: 1;
  flex-basis: 100%;
  margin: 5px;
}

div.menu-flex-item {
  text-align: left;
  font-size: 0.85em;
  color: #e1e1e1;
}

.menu-select-item {
  min-width: 100%;
}

.course-list-flex-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: left;
  padding: 4px;
}

.course-list-flex-item {
  flex-grow: 0;
  margin: 5px;
  padding: 0;
  border-radius: 8px;
  min-height: 110px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.extra-course-info-popup {
  width: 10%;
  flex-grow: 0;
  float: left;
}

.course-info {
  width: 90%;
  flex-grow: 1;
  float: right;
  overflow: hidden;
}

.course-details {
  text-overflow: ellipsis;
}

.course-details-text {
  margin: 0;
  font-size: 0.85em;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-details-icon {
  width: 14px;
  height: 14px;
  margin: 0 4px 0 0;
  padding: 0;
  float: left;
}

.course-info, .extra-course-info-button {
  border: 0;
  padding: 0 10px 0 3px;
}

.DayContainer {
  flex-basis: auto;
  flex-grow: 1;
  background-color: #9e9ea3;
  border-radius: 8px;
  margin: 10px 4px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.CourseSlot {
  flex-grow: 1;
  margin: 5px;
  background-color: #847b8e;
  border: 1px solid black;
  border-radius: 10px;
  color: #e1e1e1;
  font-size: 71%;
}

.selected-course-slot {
  flex-grow: 0;
  background-color: #ccbedb;
  color: black;
  padding: 3px 3px 3px 10px;
  text-align: left;
  overflow: hidden;
}

.course-slot-info {
  flex-grow: 0;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
}

.course-slot-info-icon {
  width: 13px;
  height: 13px;
  margin: 0 4px 0 0;
  float: left;
}

.course-slot-info-text {
  margin: 4px 0;
  font-size: 0.9em;
  text-align: left;
}

.conflicting-course {
  animation-name: CourseConflictAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 3;
}

@keyframes CourseConflictAnimation {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
